@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Oswald:wght@200..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Oswald, sans-serif;
}

header {
    background-color: chocolate;
}

header div {
    width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header img {
    width: 100px;
}

header ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

header a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://assets.codepen.io/8798401/final_food.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50vh;
}

.hero-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

h1 {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 3rem;
}

footer {
    background-color: black;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer>div {
    display: flex;
    width: 900px;
    margin: auto;
    justify-content: space-between;
}

footer a {
    color: white;
}

footer td {
    padding-right: 10px;
}

footer ul {
    list-style: none;
}

.sign-up-form {
    background-color: blanchedalmond;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}

/* .sign-up-form button {
    font-family: Oswald, sans-serif;
    background-color: blanchedalmond;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
    height: 25px;

}

.sign-up-form input {
    width: 25%;
    border-radius: 5px;
    height: 25px;
} */

.sign-up-form input {
    width: 25%;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: 6px;
    border: 1px solid black;
    border-radius: 5px;
}

.sign-up-form button {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    background-color: blanchedalmond;
    border: 1px solid black;
    padding: 6px;
    width: 8%;
    border-radius: 5px;
}

.sign-up-form button:hover {
    background-color: chocolate;
}

.sign-up-form p {
    padding: 10px;
}


