@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Oswald:wght@200..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Oswald, sans-serif;
}

header {
    background-color: chocolate;
}

header div {
    width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header img {
    width: 100px;
}

header ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

header a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://assets.codepen.io/8798401/final_food.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50vh;
}

.hero-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

h1 {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 3rem;
}